@import "./intro.css";
@import "./menu.css";
@import "./quiz.css";
@import "./failure.css";


* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  /*word-spacing: 0.5em;*/
}

a {
  text-decoration: none;
}
