.menu {
  overflow: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu h1 {
  font-size: 5em;
  font-family: monospace;
  color: wheat;
  text-shadow: 1px 1px 11px black;
}

.menu h2 {
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 4px black;
}

@media only screen and (max-width: 700px) {
  .menu h1 {
    font-size: 3.5em;
  }
}

.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, #6f96ff 0%, #32235d 100%)
}
