.answer-button {
  display: block;
  width: auto;
}

.answer-button.correct {
  background-color: green;
}

.answer-button.incorrect {
  background-color: red;
}

.answer-button.pending {
  background-color: yellow;
}

.language-alien {
  padding: 0 .3em;
  font-family: monospace;
}

.language-human {
  font-weight: bold;
  font-style: italic;
}
